<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alchemy.wjk.mind.view">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>

        <meta-data
            android:name="com.alchemy.wjk.mind.view.MindsetActivity.raw"
            android:value="false" />
        <activity
            android:name="com.alchemy.wjk.mind.view.MindsetActivity"
            android:icon="@drawable/wjk_mindset_ic_launcher"
            android:label="@string/wjk_mindset_activity_string_app_name"
            android:theme="@style/MindControllerViewTheme"></activity>

    </application>

</manifest>
